@charset "utf-8";
*{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium"; 
  margin: 0 auto;
}
header{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.5em;
}
#menu{
  display: flex;
}
a{
  text-decoration: none;
  border: solid 0 auto;
  border-top: transparent;
  padding: 0 auto;
}
a:hover {
  text-decoration: none;
}
a:link {
  color: black;
}
#logo{
  text-align: center;
}
#logo p{
  border-bottom: solid rgb(109, 109, 109);
}
#news{
  text-align: center;
}
h2{
  text-align: center;
  margin: 50px 0;
}
tr{
  margin: 0 20%;
}